html {
	height: 100%;
}

body {
	padding: 0px;
	margin: 0px;
	height: 100%;
	overflow: hidden;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#mainContent {
	position: fixed;
	left: 3.5%;
	top: 0px;
	width: auto;
	height: 100%;
	background-color: #baffdc6b;
	z-index: 1;
}

#mainContentInner {
	margin: 10px;
	padding: 0 20px 20px 20px;
}

a {
	text-decoration: none;
}

#header {
	display: flex;
	padding: 20px;
	justify-content: center;
	align-items: center;
}

#header-column-left {
	flex: 1;
}

#header-column-right {
	flex: 0.75;
	display: flex;
	justify-content: flex-end;
}

img {
	width: 100%;
	max-width: 300px;
	margin: auto;
}