html {
	height: 100%;
}

body {
	padding: 0px;
	margin: 0px;
	height: 100%;
	overflow: hidden;
}

#mainContent {
	position: fixed;
	left: 3.5%;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #baffdc6b;
	z-index: 1;
}

#mainContentInner {
	margin: 20px;
}

a {
	text-decoration: none;
}
